@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Grant Management</h2>
@*<div id="divv1" style="position:fixed;" style="width: 1000px; height: 200px;></div>*@

<iframe src="http://demo.element-it.com/examples/demoiframe/Default.aspx?username=demo&password=demo" id="HTTP_Commander" frameborder="0" style="width: 1000px; height: 470px; margin-left: 0px; margin-top: -160px; style="position:absolute; clip:rect(190px,1100px,800px,250px); top:-160px; left:-160px;"></iframe> 
<p></p>
