<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <remove name="VaccineDBContext" />
        <add connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=C:\TravelClinic\App_Data\Vaccines.mdf;Integrated Security=False" name="VaccineDBContext" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
